$primary: #3f0e40;
$back-ground: #e5e5e5;
$black: rgba(0, 0, 0, 1);
$black2: rgba(0, 0, 0, 0.54);
$white: rgba(255, 255, 255, 1);

// .filter {
//   width: 100%;
.contentHeader {
  span:nth-child(1) {
    margin: 0 1rem;
    padding: 0.2rem 1rem;
    background-color: $primary;
    color: $white;
    font-size: 1rem;
  }
  span:nth-child(2) {
    font-size: 1rem;
  }
}
.mainContent {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 1.2rem 1.4rem;
  font-size: 14px;
  .searchIcon {
    margin-right: 2rem;
  }
  input {
    border: none;
  }
  button {
    margin-left: auto;
    padding: 0.8rem 1.8rem;
    color: $white;
    font-size: 1.2rem;
    background-color: $primary;
    border-radius: 8px;
    border: none;
  }
}
