$primary: #3f0e40;
$back-ground: #f8f8f8;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  // font-family: "Roboto", sans-serif;
}

#root {
  background-color: $back-ground;
  display: flex;
  flex-direction: column;

  height: 100%;
}

.d-flex {
  display: flex;
}

.flex-vert-center {
  align-items: center;
}

.flex-hor-center {
  justify-content: center;
}

.container {
  display: flex;
  flex-grow: 1;
  // flex-direction: column;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.p-1 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}
